In [1]:
import pandas as pd 
import numpy as np 
import nltk

import matplotlib.pyplot as plt 
from functools import partial # to reduce df memory consumption by applying to_numeric

import warnings
warnings.filterwarnings('ignore') 

data_path = 'C:/Temp/w207finalprojdata/'

## Loads Data

In [3]:
aisles = pd.read_csv(data_path + 'aisles.csv', engine='c')

In [4]:
departments = pd.read_csv(data_path + 'departments.csv', engine='c')

In [38]:
products_dtype = {
    'product_id' : np.int32,
    'product_name' : str,
    'aisle_id' : np.int32,
    'department_id' : np.int32
}

products = pd.read_csv(data_path + 'products.csv', engine='c', dtype=products_dtype)

In [41]:
goods = pd.merge(
    left=pd.merge(
        left=products, 
        right=departments, 
        how='left'
    ), 
    right=aisles, 
    how='left'
)

In [6]:
orders_dtype = {
    'order_id': np.int32, 
    'user_id': np.int32, 
    'order_number': np.int32,
    'order_dow': np.int8,
    'order_hour_of_day': np.int8,
    'days_since_prior_order': np.float16
}


orders = pd.read_csv(data_path + 'orders.csv', engine='c', dtype=orders_dtype)

In [7]:
op_prior_dtype = {
    'order_id': np.int32, 
    'product_id': np.int32, 
    'add_to_cart_order': np.int16, 
    'reordered': np.int8
}

op_prior = pd.read_csv(data_path + 'order_products__prior.csv', engine='c', dtype=op_prior_dtype)

In [8]:
op_train_dtype = {
    'order_id': np.int32, 
    'product_id': np.int32, 
    'add_to_cart_order': np.int16, 
    'reordered': np.int8
}

op_train = pd.read_csv(data_path + 'order_products__train.csv', engine='c', dtype=op_train_dtype)

In [42]:
dataframes = {
    'aisles': aisles, 
    'departments' : departments, 
    'products' : products, 
    'goods' : goods,
    'orders' : orders, 
    'op_prior' : op_prior, 
    'op_train' : op_train
}

## Basic counts

In [44]:
def count_tables():
    print("Number of records per dataframe")
    for idx, df in dataframes.items():
        print(idx, ' : ', df.shape[0])
    
count_tables()

Number of records per dataframe
aisles  :  134
departments  :  21
products  :  49688
goods  :  49688
orders  :  3421083
op_prior  :  32434489
op_train  :  1384617

In [28]:
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [29]:
departments.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [30]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [43]:
goods.head()

,product_id,product_name,aisle_id,department_id,department,aisle
0,1,Chocolate Sandwich Cookies,61,19,snacks,cookies cakes
1,2,All-Seasons Salt,104,13,pantry,spices seasonings
2,3,Robust Golden Unsweetened Oolong Tea,94,7,beverages,tea
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,frozen,frozen meals
4,5,Green Chile Anytime Sauce,5,13,pantry,marinades meat preparation

In [31]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [32]:
op_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [33]:
op_train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

## Analysis on Goods (Products, Aisles, Departments)

In [92]:
# number of products per department and aisle
#goods[['department', 'aisle','product_name']].groupby(['department', 'aisle']).agg(['count'])

In [104]:
# number of aisles per department
def G1():
    temp = goods.groupby('department')['aisle'].nunique()
    temp2 = temp.sort_values()
    #print(temp.columns.values)
    print(temp2)

G1()

department
missing             1
other               1
pets                2
bulk                2
babies              4
international       4
breakfast           4
produce             5
dry goods pasta     5
alcohol             5
canned goods        5
bakery              5
deli                5
meat seafood        7
beverages           8
household          10
dairy eggs         10
frozen             11
snacks             11
pantry             12
personal care      17
Name: aisle, dtype: int64

In [93]:
# Top 5 counts of offered products, by department and aisle
def G2():
    temp = goods[['department', 'aisle','product_name']].groupby(['department', 'aisle']).agg(['count'])
    temp2 = temp.sort(('product_name', 'count'), ascending=False)
    #print(temp2.columns.values)
    #print(temp2.columns.size)
    #print(temp2)
    print( temp2.head(5) )

G2()

                                   product_name
                                          count
department    aisle
missing       missing                      1258
snacks        candy chocolate              1246
frozen        ice cream ice                1091
personal care vitamins supplements         1038
dairy eggs    yogurt                       1026

## Analysis on Orders (Orders, Orders Prior, Orders Train)

In [112]:
# Number of orders per category
def R1():
    temp = orders[['order_id', 'eval_set']].groupby(['eval_set']).agg(['count'])
    temp2 = temp.sort([('order_id','count')], ascending=False)
    print(temp2)

R1()

         order_id
            count
eval_set
prior     3214874
train      131209
test        75000

In [115]:
# Number of distinct users
def R2():
    temp = orders['user_id'].nunique()
    print(temp)
    
R2()

206209

In [125]:
# Number of missing days since prior order
def R3():
    isnull_filter = pd.isnull(orders['days_since_prior_order'])
    #print(isnull_filter)
    #temp = orders[isnull_filter].groupby(['days_since_prior_order']).agg(['count'])
    temp = orders[isnull_filter]
    print(temp)

R3()

0           True
1          False
2          False
3          False
4          False
5          False
6          False
7          False
8          False
9          False
10         False
11          True
12         False
13         False
14         False
15         False
16         False
17         False
18         False
19         False
20         False
21         False
22         False
23         False
24         False
25         False
26          True
27         False
28         False
29         False
           ...
3421053    False
3421054    False
3421055    False
3421056    False
3421057    False
3421058    False
3421059    False
3421060    False
3421061    False
3421062    False
3421063    False
3421064    False
3421065    False
3421066    False
3421067    False
3421068    False
3421069     True
3421070    False
3421071    False
3421072    False
3421073    False
3421074    False
3421075    False
3421076    False
3421077    False
3421078    False
3421079    False
3421080    False
3421081    False
3421082    False
Name: days_since_prior_order, dtype: bool

In [ ]:
# number of orders per user
def R4():
    temp1 = op_prior
    
R4()